/* ------------------- General Settings ------------------ */
* {
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic', sans-serif;
	color: #fff;
}

body {
	background-image: url("../imgs/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	height: 8vh;
}

h2 {
	text-decoration: underline;
}

footer p {
	font-size: 14px;
}

hr {
	background: rgba(255, 255, 255, 0.4);
}

.nav-bar ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

.nav-bar ul li {
	display: inline-block;
}

.nav-bar ul li a {
	text-decoration: none;
	color: #000;
	padding: 5px 20px;
	border: 1px solid #000;
	transition: 0.6s ease;
}

.nav-bar ul li a:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
}

.nav-bar ul li#active a {
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
}

.jumbotron {
	background: rgba(0, 0, 0, 0.4);
}
/* ------------------------------------------------------- */

h1#title {
	margin: 30px 0 30px 0;
}

section {
	text-align: justify;
}

section#education {
	margin-top: 20px;
}

section h3 {
	text-decoration: underline;
}

section#education div {
	margin: 10px 0 0 20px;
}

section#skills {
	margin-top: 20px;
}

section#skills .col-3 {
	margin: 10px 0 0 20px;
}

/* ----------- Social Media Section ----------- */
.social-icons {
	margin-top: 50px;
}

.social-icons ul {
	list-style-type: none;
}

.social-icons ul li {
	display: inline;
	color: #495057;
	font-size: 2em;
	margin: 0 5px 0 5px;
}

.social-icons ul li a {
	text-decoration: none;
}

.social-icons .fa-facebook:hover {
	color: #3b5998;
}

.social-icons .fa-instagram:hover {
	background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
	background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.social-icons .fa-github:hover {
	color: #333;
}

.social-icons .fa-linkedin:hover {
	color: #00a0dc;
}
/* -------------------------------------------- */
